<%= flash[:notice] %>
<div>
<strong>Title:</strong>
<%= @book.title %>
</div>
<div>
<strong>Body:</strong>
<%= @book.body %>
</div>


<a href="<%= @book.id %>/edit">Edit</a>
<a href="../books">Back</a>
