<%= flash[:notice] %>
<div class="show">
<strong>Title:</strong>
<%= @book.title %>
</div>
<div div class="show">
<strong>Body:</strong>
<%= @book.body %>
</div>

<a href="<%= @book.id %>/edit">Edit</a> | 
<a href="../books">Back</a>
